<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Carrito de Compras - Turbocenter</title>
</head>

<body>

    <header class="bg-dark text-white p-4">
        <div class="container">
            <h1>Turbocenter</h1>
            <nav class="navbar navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/products">Productos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/profile">Perfil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/chat">Chat</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/contact">Contáctanos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Inicia Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Regístrate</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Cerrar Sesión</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/cart">Carrito</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/support">Soporte</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin">Panel de Administración</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>

    <main class="container mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Imagen</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Subtotal</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td>{{this.product.title}}</td>
                    <td><img src="{{this.product.thumbnail}}" alt="{{this.product.title}}"
                            style="max-width: 50px; max-height: 50px;"></td>
                    <td>{{this.product.price}} USD</td>
                    <td>
                        <button onclick="updateQuantity('{{this.product._id}}', 'decrease')">-</button>
                        <span id="quantity_{{this.product._id}}">{{this.quantity}}</span>
                        <button onclick="updateQuantity('{{this.product._id}}', 'increase')">+</button>
                    </td>
                    <td id="subtotal_{{this.product._id}}" data-price="{{this.product.price}}">Subtotal USD</td>
                    <td>
                        <button id="deleteBtn{{this.product._id}}"
                            class="btn btn-sm btn-danger deleteBtn">Eliminar</button>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <div id="total" class="mt-3">
            <strong>Total: USD</strong>
        </div>

        <button id="checkout-btn" class="btn btn-primary mt-3" onclick="buyItems()">Finalizar Compra</button>


    </main>

    <footer class="bg-dark text-white p-4 mt-4">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <h3>Redes Sociales</h3>
                    <div class="social-icons">
                        <a href="#" target="_blank" class="text-white">Facebook</a>
                        <a href="#" target="_blank" class="text-white">Instagram</a>
                        <a href="#" target="_blank" class="text-white">Twitter</a>
                        <a href="#" target="_blank" class="text-white">TikTok</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3>Enlaces</h3>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-white">Legislaciones</a></li>
                        <li><a href="#" class="text-white">Trabaja con nosotros</a></li>
                        <li><a href="#" class="text-white">Términos y Condiciones</a></li>
                        <li><a href="#" class="text-white">Reporta un error</a></li>
                    </ul>
                </div>
            </div>
            <p class="mt-3">Sitio creado por francordz99</p>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        window.onload = function () {
            calcularTotal();
            var subtotales = document.querySelectorAll('[id^=subtotal_]');
            subtotales.forEach(function (subtotalElement) {
                var productId = subtotalElement.id.replace('subtotal_', '');
                calcularSubtotal(productId);
            });
        };

        function calcularSubtotal(productId) {
            var cantidad = parseInt(document.getElementById('quantity_' + productId).innerText.trim());
            var precio = parseFloat(document.getElementById('subtotal_' + productId).getAttribute('data-price'));
            var subtotal = cantidad * precio;
            document.getElementById('subtotal_' + productId).innerText = 'Subtotal USD ' + new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD'
            }).format(subtotal);
            calcularTotal();
        };
        function calcularTotal() {
            var subtotales = document.querySelectorAll('[id^=subtotal_]');
            var total = 0;
            subtotales.forEach(function (subtotalElement) {
                var cantidad = parseInt(subtotalElement.parentElement.querySelector('[id^=quantity_]').innerText.trim());
                var precio = parseFloat(subtotalElement.getAttribute('data-price'));
                if (!isNaN(cantidad) && !isNaN(precio)) {
                    total += cantidad * precio;
                }
            });
            document.getElementById('total').innerHTML = '<strong>Total: USD ' + new Intl.NumberFormat('en-US', {
                style: 'currency',
                currency: 'USD'
            }).format(total) + '</strong>';
            return total;
        }
        function updateQuantity(productId, action) {
            const spanElement = document.getElementById(`quantity_${productId}`);
            let currentQuantity = parseInt(spanElement.textContent);
            if (action === 'increase') {
                currentQuantity++;
            } else if (action === 'decrease' && currentQuantity > 1) {
                currentQuantity--;
            }
            spanElement.textContent = currentQuantity;
            calcularSubtotal(productId);
            fetch(`/cart/editProductQuantity/${productId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ quantity: currentQuantity }),
            })
                .then(response => response.json())
                .then(data => {
                    if (!data.success) {
                        console.error('Error al actualizar la cantidad del producto:', data.error);
                    }
                })
                .catch(error => {
                    console.error('Error de red al actualizar la cantidad del producto:', error);
                });
        }

        document.addEventListener('DOMContentLoaded', function () {
            const deleteButtons = document.querySelectorAll('.deleteBtn');

            deleteButtons.forEach(button => {
                button.addEventListener('click', function () {
                    const productId = this.id.replace('deleteBtn', '');

                    fetch(`/cart/deleteProductFromCart/${productId}`, {
                        method: 'DELETE',
                    })
                        .then(response => {
                            if (response.ok) {
                                location.reload();
                                console.log('Producto eliminado del carrito con éxito.');
                            } else {
                                console.error('Error al eliminar el producto del carrito.');
                            }
                        })
                        .catch(error => {
                            console.error('Error de red:', error);
                        });
                });
            });
        });

        async function buyItems() {
            try {
                const totalAmount = calcularTotal();
                console.log(totalAmount);
                const response = await axios.post('/cart/buyItems', { total: totalAmount });
                console.log(response);
                if (response.data.success) {
                    alert('Compra exitosa. Tu código de ticket es: ' + response.data.ticketCode);
                } else {
                    alert('Error en la compra: ' + response.data.message);
                }
            } catch (error) {
                console.error('Error en la solicitud:', error);
                alert('Error en la compra. Por favor revisa las cantidades y su stock en la vista Productos o intentalo mas tarde.');
            }
        }
    </script>

</body>

</html>