<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Turbocenter</title>
</head>

<body>

    <header>
        <h1>Turbocenter</h1>
        <nav>
            <a href="/">Inicio</a>
            <a href="/products">Productos</a>
            <a href="/profile">Perfil</a>
            <a href="/about">Sobre Nosotros</a>
            <a href="/chat">Chat</a>
            <a href="/contact">Contáctanos</a>
            <a href="/login">Inicia Sesión</a>
            <a href="/register">Regístrate</a>
            <a href="/logout">Cerrar Sesión</a>
            <a href="/cart">Carrito</a>
            <a href="/support">Soporte</a>
            <a href="/admin">Panel de Administración</a>
        </nav>
    </header>
    <main>
        <section>
            <h2>Listado De Productos</h2>
            {{#if products}}
            {{#each products}}
            <div class="card">
                <img src="{{thumbnail}}" class="card-img-top" alt="{{title}}">
                <div class="card-body">
                    <h5 class="card-title">{{title}}</h5>
                    <p class="card-text">{{description}}</p>
                    <p class="card-text">Precio: {{price}} USD</p>
                    <p class="card-text">Stock: {{stock}}</p>
                    <p class="card-text">Categoría: {{category}}</p>
                    <button class="btn btn-primary">Agregar al carrito</button>
                </div>
            </div>
            {{/each}}
            {{else}}
            <p>No se encontraron productos.</p>
            {{/if}}
        </section>
    </main>
    <footer>
        <div class="social-column">
            <h3>Redes Sociales</h3>
            <div class="social-icons">
                <a href="#" target="_blank">Facebook</a>
                <a href="#" target="_blank">Instagram</a>
                <a href="#" target="_blank">Twitter</a>
                <a href="#" target="_blank">TikTok</a>
            </div>
        </div>

        <div class="links-column">
            <h3>Enlaces</h3>
            <ul>
                <li><a href="#">Legislaciones</a></li>
                <li><a href="#">Trabaja con nosotros</a></li>
                <li><a href="#">Términos y Condiciones</a></li>
                <li><a href="#">Reporta un error</a></li>
            </ul>
        </div>
        <p>Sitio creado por francordz99</p>

    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>